* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent {
    background-color: hsl(0, 100%, 98%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#hero-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#div1 {
    height: 100%;
    width: 100%;
}

#hero-img {
    height: 100vh;
    width: 98%;
}
